[% header('Basque stemming algorithm') %]

<h2>Links to resources</h2>

<ul>
[% algorithm_lis('basque', 'Basque') %]
</ul>

[% algorithm_vocab([12, 'barrutiaren', 'museoak']) %]

<p>
The following letters are vowels:
</p>

<DL><DD>
    <B><I>a  &nbsp;  e  &nbsp;  i  &nbsp;  o  &nbsp;  u</I></B>
</DL>


<h2>The stemming algorithm</h2>

[% highlight_file('basque') %]

[% footer %]
